.overlay {
	padding: 15px;
}
.text-subtitle {
	font-size: 1.25em;
}
.fa-icons a {
	padding-right: 20px;
}
.overlay {
	opacity: 0;
}
.overlay:hover {
	opacity: 1;
	background-color: rgba(0,0,0,0.7) !important;
}
.activity li:first-child {
	border-top: 0px;
}
.activity {
	font-size: 20px;
}



/* Corriger le problème du background et shadow qui dépasse des coins arrondis */
.flexblock.gallery li {
	border-radius: 8px;
	overflow: hidden;
	transition: border-radius 0.3s ease;
}

.flexblock.gallery li:hover {
	border-radius: 16px;
}
